# Base de données (Supabase)
DATABASE_URL="postgresql://postgres.mwylfhmdthygxnzngvof:Envertetcontretous-8*@aws-1-eu-west-3.pooler.supabase.com:5432/postgres"

# Clerk (auth)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2hhbXBpb24tZWFyd2lnLTY1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_RyNJxxH1iCdr5frI886ssjg0tktoSuTrWRHvjErMfd
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# n8n webhook
N8N_WEBHOOK_BASE_URL=https://ton-instance-n8n.com
N8N_WEBHOOK_SECRET=un-secret-pour-valider-les-callbacks
